DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE

CMS_SEED_ADMIN_EMAIL=ADMIN_EMAIL
CMS_SEED_ADMIN_PASSWORD=ADMIN_PASSWORD

CLOUDINARY_NAME=CLOUDNINARY_NAME
CLOUDINARY_API_KEY=CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=CLOUDINARY_SECRET_KEY